<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="unsecureTemplate :: dochead">
</head>

<!-- Bootstrap navbar -->
<body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand em-text" href="signup.html">Stash</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="signup.html">Sign Up</a></li>
              <li><a href="about.html">About</a></li>
              <li class="active"><a href="login.html">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

<!--  Jumbotron- title and login form -->
    <div class="jumbotron">
      <div class="container">
          <!-- title -->
        <div class="row">
          <div class="col-md-12">
            <img class="title" th:src="@{/images/title.png}" />
          </div>
        </div>
        <!-- login form -->
        <div class="row">
        	<div class="col-md-12 text-center">
				<strong id="login-error" th:text="${error}"></strong>        		
        	</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline login-form" action="" method="post">
                  <div class="form-group">
                    <label class="sr-only" for="username" >Username</label>
                    <div class="input-group">
                      <div class="input-group-addon"><img th:src="@{/images/username-image.png}" /></div>
                      <input name="username" type="text" class="form-control" id="username" placeholder="Username" th:value="${username}" />
                    </div>
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group">
                      <div class="input-group-addon"><img src="/images/lock-image.png" /></div>
                      <input name="password" type="password" class="form-control" id="password" placeholder="Password" />
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" value="Login">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="container">
            <!-- tagline -->
        <div class="row">
            <div class="col-md-4 stamp">
                <img src="../images/stamp-image.png" />
            </div>

            <div class="col-md-8 tagline">
                <img src="images/title-image.png" />
            </div>
          <!-- end tagline -->
          </div>
        <!-- end container -->
        </div>
      <!-- end section -->



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy; 2017, All Rights Reserved. SJCSWANK</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
