<!DOCTYPE html>
<html lang="en">
  <head th:replace="secureTemplate : dochead">
  </head>

  <body>
      <!-- Dashboard Active Navigation -->
      <section th:replace="dash : dashNav">
      </section>

      <div id="breadcrumbs">
		<ol class="breadcrumb">
			<li><a th:href="'/' + ${username} + '/dashboard/'">Dashboard</a></li>
            <li class="active">New Item</li>
		</ol>
	</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 input-box">

                <!-- Box Title -->
                <div class="type-title">
                    <h2>New Item</h2>
                </div>

                <!-- Item type dropdown-menu -->
                <section th:fragment="itemTypeInput">
                <div class="form-group">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Item Type <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" name="type">
                        <li value="material">Material</li>
                        <li value="project">Project</li>
                      </ul>
                    </div>
                </div>
                </section>

                <!-- Item name text input -->
                <section th:fragment="itemNameInput">
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Item Name" name="itemName" th:value="${itemName}" />
                </div>
                </section>

                <!-- Quantity dropdown-menu -->
                <section th:fragment="itemQtyInput">
                <div class="form-group">
                    <div class="input-group">
                      <input type="number" class="form-control" aria-label="quantity" placeholder="Quantity" name="qty" />
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	Type <span class="caret"></span></button>
                        <ul class="dropdown-menu" name="qtyType" id="qtyType">
                          <li class="dropdown-item" value="string"><a href="#">String</a></li>
                          <li class="dropdown-item" value="piece"><a href="#">Piece</a></li>
                          <li class="dropdown-item" value="package"><a href="#">Package</a></li>
                        </ul>
                      </div>
                    </div>
                </div>
                </section>

                <!-- Location dropdown-menu -->
                <section th:fragment="itemLocationInput">
                <div class="form-group">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Location <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" name="location" id="location">
                        <li th:value="${location.uid}" th:each="location : ${locations}" th:text="${location.name}"></li>
                      </ul>
                    </div>
                </div>
                </section>


                <section th:replace="secureTemplate : saveCancel"></section>
                
            </div>
        </div>
    </div>
</section>






        <!-- secure footer -->
        <section th:replace="secureTemplate :: footer"></section>

        <!-- bootstrap scripts -->
        <section th:replace="secureTemplate :: scripts"></section>
    </body>
</html>