<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
  <head th:replace="secureTemplate : dochead">
  </head>

  <body>
      <!-- Dashboard Active Navigation -->
      <section th:replace="locations : locationsNav">
      </section>

      <div id="breadcrumbs">
		<ol class="breadcrumb">
			<li><a th:href="'/' + ${username} + '/locations/'">Locations</a></li>
            <li class="active">New Location</li>
		</ol>
	</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 input-box">

                <!-- Box Title -->
                <div class="type-title">
                    <h2>New Location</h2>
                </div>

                <!-- Item name text input -->
                <section th:replace="newItem : itemNameInput"></section>
                
                <section th:replace="secureTemplate : isFullCheckbox"></section>

                <!-- Submit / Cancel buttons -->
                <section th:replace="secureTemplate : saveCancel"></section>

            </div>
        </div>
    </div>
</section>






        <!-- secure footer -->
        <section th:replace="secureTemplate :: footer"></section>

        <!-- bootstrap scripts -->
        <section th:replace="secureTemplate :: scripts"></section>
    </body>
</html>
