<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
  <head th:replace="secureTemplate :: dochead">
  </head>

  <body>
      <!-- Dashboard Active Navigation -->
      <section th:replace="projects :: projectsNav">
      </section>

      <div id="breadcrumbs">
		<ol class="breadcrumb">
			<li><a th:href="'/' + ${username} + '/projects/'">Projects</a></li>
            <li class="active">New Project</li>
		</ol>
	</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 input-box">

				<div class="col-md-12 tableCol">
	                <!-- Box Title -->
	                <div class="type-title">
	                    <h2>New Project</h2>
	                </div>
					<form method="post">
		                <!-- Item name text input -->
		                <section th:replace="newItem :: itemNameInput"></section>
		
				        <div class="form-group">
		                    <div class="input-group">
		                      <input type="number" class="form-control" aria-label="quantity" placeholder="Quantity" name="qty" />
		                    </div>
		                </div>
		
		                <!-- Location dropdown-menu -->
		                <section th:replace="newItem :: itemLocationInput"></section>
		
		                <!-- Submit / Cancel buttons -->
		                <div class="submit-buttons" aria-label="...">
					      <a th:href="'/' + ${username} + '/projects/'"><button type="button" 
					      		class="btn btn-default btn-cancel" name="cancel" value="cancel">Cancel</button></a>
					      <button type="submit" class="btn btn-default btn-save save-button" name="save" value="save">Save</button>
					    </div>
		            </form>
	            </div>
	            <strong id="error" th:text="${error}"></strong>
            </div>
        </div>
    </div>
</section>






        <!-- secure footer -->
        <section th:replace="secureTemplate :: footer"></section>

        <!-- bootstrap scripts -->
        <section th:replace="secureTemplate :: scripts"></section>
    </body>
</html>
