<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href="#">Stash</a></h1>
			<div id="top-navigation">
				Welcome <a href="#"><strong th:text="${username}"></strong></a>
				<span>|</span>
				<a href="#">Profile Settings</a>
				<span>|</span>
				<a href="/logout">Log out</a>
			</div>
		</div>

		<!-- End Logo + Top Nav -->
		<!-- Main Nav -->
		<div id="navigation">
			<ul>
			    <li><a th:href="'/' + ${username} + '/dashboard/'" ><span>Dashboard</span></a></li>
			    <li><a th:href="'/' + ${username} + '/locations/'"><span>Locations</span></a></li>
			    <li><a th:href="'/' + ${username} + '/materials/'"><span>Materials</span></a></li>
			    <li><a th:href="'/' + ${username} + '/projects/'" class="active"><span>Projects</span></a></li>
			    <li><a th:href="'/' + ${username} + '/reports/'"><span>Reports</span></a></li>
			    <li><a th:href="'/' + ${username} + '/usermanagement/'"><span>User Management</span></a></li>
			</ul>
		</div>
		<!-- End Main Nav -->
</div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		
		<!-- Small Nav -->
		<div class="small-nav">
			<a th:href="'/' + ${username} + '/projects'">Projects</a>
			<span>&gt;</span>
			All Projects
		</div>
		<!-- End Small Nav -->

		<br />
		
		
		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
			
							<!-- Box -->
				<div class="box">				
				
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">Recent Projects</h2>
						<div class="right">
							<form action="" method="post">
							<label>sort projects&nbsp;</label>
							<select id="sort" name="sort" class="field small-field">
								<option value="a_z">Alphabetically (ascending)</option>
								<option value="z_a">Alphabetically (descending)</option>
								<option value="recent">Most Recent</option>
							</select>
							<input type="hidden" name="hiddenAction" value="sort" />
							<button type="submit" class="button" name ="sort" value="sort">sort</button>
							</form>
						</div>
					</div>
				
					<!-- End Box Head -->	
					
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th width="13"><input type="checkbox" class="checkbox" /></th>
								<th>Name</th>
								<th>Active</th>
								<th>Modified</th>
								<th width="110" class="ac">Edit</th>
							</tr>
							
							<tr th:each="project : ${projects}">
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a th:href="'/' + ${username} + '/projects/' + ${project.uid}" th:text="${project.name}"></a></h3></td>
								<td>IsActive</td>
								<!-- <td th:text="${project.getIsActiveOutput()}"> -->
								<td th:test="${#dates.format(project.modified, 'yyyy-MM-dd')}"></td>
								<td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
							</tr>
						</table>
					</div>
					</div>
					
			</div>

		<!-- Sidebar -->
			<div id="sidebar" th:fragment="sidebar">
				
				<!-- Box -->
				<div class="box">
					
					<!-- Box Head -->
					<div class="box-head">
						<h2>Management</h2>
					</div>
					<!-- End Box Head-->
					
					<div class="box-content">
						<a th:href="'/' + ${username} + '/newproject'" class="add-button"><span>Add new Project</span></a>
						<div class="cl">&nbsp;</div>
						
						<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
						<p><a href="#">Delete Selected</a></p>
						
						<!-- Search -->
						<div class="sort">
						<form action="" method="post">
							<label>Search All Projects</label>
							<input type="text" class="field" name="search" />
							<br />
							<input type="hidden" name="hiddenAction" value="search" />
							<input type="submit" class="button" value="search" />
							</form>
						</div>
						<!-- End Search -->
						
					</div>
				</div>
				<!-- End Box -->
			</div>
			<!-- End Sidebar -->
	
			</div>
		<!-- Main -->
	</div>
</div>
<br style="clear:both" /> <!-- So dirty! -->
<!-- End Container -->

	<div th:replace="template :: footer"></div>


	</body>
</html>
