<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="secureTemplate :: dochead">
</head>
<body>

	<!-- dashboard navbar -->
	<section th:replace="locations :: locationsNav">
		
	</section>

	<div id="breadcrumbs">
		<ol class="breadcrumb">
			<li class="active"><a th:href="'/' + ${username} + '/locations/'">Locations</a> <span>&gt;</span> 
			<strong><span th:text="${location.name}"></span></strong></li>
		</ol>
	</div>


  <section id="new">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 title">
                      <div>
                        <h2 th:text="${location.name}">- <small>
                            <div class="btn-group sort" role="group" aria-label="Sort">
                                <a href="#"><button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </button></a>
                                <a href="#"><button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button></a> 
                            </div>
                         </small></h2>
                      </div>

                      <div class="row">
                          <div class="col-md-7 tableCol">

                              <div class="row">
                                  <div class="col-md-12">
                                      <div>
                                          <h4>Description</h4>
                                          <!-- <p th:text="${location.description}"></p> -->
                                          <p>Description will go here</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-12">
                                      <div>
                                          <p><strong>Is Full:</strong><span  th:text="${location.isFull}"></span><a href="#">
                                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a></p>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-4 col-md-offset-1 tableCol">
                              <img src="${location.image}" />
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6 tableCol">
                              <div class="type-title">
                                <h2>Materials
                                <div class="btn-group sort" role="group" aria-label="Sort">
                                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></button>
                                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span></button>
                                </div>
                                </h2>
                              </div>

                              <table class="table table-hover">
                                  <tr>
                                      <th>Material Name</th>
                                      <th>Qty</th>
                                      <th width="110" class="ac">Edit</th>
                                  </tr>

                                  <tr th:each="material : ${materials}" th:unless="${materials} == null">
                                      <td><h3>
                                              <a th:href="'/' + ${username} + '/materials/' + ${material.uid}">
                                                  <h3 th:text="${material.name}" th:unless="${material == null}"></h3></a>
                                          </h3></td>
                                      <td th:text="${material.qty}"></td>
                                      <td><a href="#"><button type="button"
                                                  class="btn btn-default" aria-label="Left Align">
                                                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                              </button></a> <a href="#"><button type="button" class="btn btn-default"
                                                  aria-label="Left Align">
                                                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                              </button></a></td>
                                  </tr>
                              </table>
                          </div>
                          
                          <div class="col-md-6 tableCol">
                              <div class="type-title">
                                <h2>Projects
                                <div class="btn-group sort" role="group" aria-label="Sort">
                                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></button>
                                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span></button>
                                </div>
                                </h2>
                              </div>

                              <table class="table table-hover">
                                  <tr>
                                      <th>Project Name</th>
                                      <th>Qty</th>
                                      <th width="110" class="ac">Edit</th>
                                  </tr>

                                  <tr th:each="project : ${projects}" th:unless="${projects} == null">
                                      <td><h3>
                                              <a th:href="'/' + ${username} + '/projects/' + ${project.uid}">
                                                  <h3 th:text="${project.name}" th:unless="${project == null}"></h3></a>
                                          </h3></td>
                                      <td th:text="${project.qty}"></td>
                                      <td><a href="#"><button type="button"
                                                  class="btn btn-default" aria-label="Left Align">
                                                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                              </button></a> <a href="#"><button type="button" class="btn btn-default"
                                                  aria-label="Left Align">
                                                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                              </button></a></td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                  </div>
                </div>
          </div>
      </section>

	<footer th:replace="secureTemplate :: footer"></footer>

	<section th:replace="secureTemplate :: scripts"></section>

</body>
</html>