<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="secureTemplate :: dochead">
</head>
<body>

	<!-- dashboard navbar -->
	<section th:replace="projects :: projectsNav">
		
	</section>

	<div id="breadcrumbs">
		<ol class="breadcrumb">
			<li class="active"><a th:href="'/' + ${username} + '/projects/'">Projects</a> <span>&gt;</span> 
			<strong><span th:text="${project.name}"></span></strong></li>
		</ol>
	</div>


  <section id="new">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 title">
                        <h2 th:text="${project.name}">- <small><a th:href="'/' + ${username} + '/locations/' + ${project.location}"  th:text="${project.location}"></a>
                            <div class="btn-group sort" role="group" aria-label="Sort">
                                <a href="#"><button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </button></a>
                                <a href="#"><button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button></a></div> </small></h2>
                           	</div>    
            			</div>

                      <div class="row">
                          <div class="col-md-7 tableCol">

                              <div class="row">
                                  <div class="col-md-12">
                                      <div>
                                          <h4>Description</h4>
                                          <!-- <p th:text="${project.description}"></p> -->
                                          <p>Description placeholder</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-12">
                                      <div>
                                          <p><strong>Quatity:</strong><span  th:text="${project.qty}"></span><a href="#">
                                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a></p>

                                            <p><strong>Quatity Wanted:</strong>
                                            <!-- <span  th:text="${project.qtyWanted}"></span> -->
                                            0
                                            <a href="#">
                                              <button type="button" class="btn btn-default" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a></p>
                                              
                                            <p><strong>Quatity Active:</strong>
                                            <!-- <span  th:text="${project.qtyActive}"></span> -->
                                            No
                                            <a href="#">
                                              <button type="button" class="btn btn-default" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a></p>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-4 col-md-offset-1 tableCol">
                              <img src="${project.image}" />
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-12 tableCol">
                              <div class="type-title">
                                <h2>Related Materials
                                <div class="btn-group" role="group" aria-label="addNewl">
								<button type="button" class="btn btn-default">
								<a th:href="'/' + ${username} + '/projects/' + ${project.uid} + '/addMaterials'" title="Add Project">
								<span class="glyphicon glyphicon-plus" aria-hidden="true">
								</span></a></button>
							</div>
							<div class="btn-group sort" role="group" aria-label="Sort">
								<button type="button" class="btn btn-default" title="Sort Alphabetically">
									<span class="glyphicon glyphicon-sort-by-alphabet"
										aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-sort-by-order" title="Sort by ID"
										aria-hidden="true"></span>
								</button>
							</div>
                                </h2>
                              </div>

                              <table class="table table-hover">
                                  <tr>
                                      <th>Material Name</th>
                                      <th>Qty Needed</th>
                                      <th>Qty Available</th>
                                      <th width="110" class="ac">Edit</th>
                                  </tr>

                                  <tr th:each="pm : ${projectMaterials}" th:unless="${projectMaterials} == null">
                                      <td><h3>
                                              <a th:href="'/' + ${username} + '/materials/' + ${pm.getMaterial().getUid()}">
                                                  <h3 th:text="${pm.getMaterial().getName()}" th:unless="${pm == null}"></h3></a>
                                          </h3></td>
                                      <td th:text="${pm.getQty()}"></td>
                                      <!-- <td th:text="${pm.getMaterial().getQtyActive()}"></td> -->
                                      <td>0</td>
                                      <td><a href="#"><button type="button"
                                                  class="btn btn-default" aria-label="Left Align">
                                                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                              </button></a> <a href="#"><button type="button" class="btn btn-default"
                                                  aria-label="Left Align">
                                                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                              </button></a></td>
                                  </tr>
                              </table>
                          </div>
                      </div>
          </div>
      </section>

	<footer th:replace="secureTemplate :: footer"></footer>

	<section th:replace="secureTemplate :: scripts"></section>

</body>
</html>