<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="dochead">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Stash</title>
	<link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>

<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href="#">Stash</a></h1>
			<div id="top-navigation">
				Welcome <a href="#"><strong th:text="${username}"></strong></a>
				<span>|</span>
				<a href="#">Profile Settings</a>
				<span>|</span>
				<a href="/logout">Log out</a>
			</div>
		</div>

		<!-- End Logo + Top Nav -->
		<!-- Main Nav -->
		<div id="navigation">
			<ul>
			    <li><a href="/dashboard" class="active"><span>Dashboard</span></a></li>
			    <li><a href="/locations"><span>Locations</span></a></li>
			    <li><a href="/materials"><span>Materials</span></a></li>
			    <li><a href="/projects"><span>Projects</span></a></li>
			    <li><a href="/reports"><span>Reports</span></a></li>
			    <li><a href="/usermanagement"><span>User Management</span></a></li>
			</ul>
		</div>
		<!-- End Main Nav -->
</div>
</div>
<!-- End Header -->

<!-- Footer -->

<div id="footer" th:fragment="footer">
	<div class="shell">
		<span class="left">&copy; 2016 - SJCSwank</span>
		<span class="right">
			Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a>
		</span>
	</div>
</div>

<!-- End Footer -->
</body>
</html>