<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="dochead">
	<meta http-equiv="X-UA-Compatible" content="IE=edge charset=utf-8" />
	<title>Stash</title>
	<!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
	<link th:href="@{/css/unsecure.css}" rel="stylesheet" type="text/css" media="all"/>
	<link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Rokkitt:300|Tillana" rel="stylesheet" />
	
</head>



<body>


</body>
</html>